.login{
    /* background-color: white; */
    width: 400px;
    height: 500px;
}
.bucket{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:220px;
    height: auto;
    
}

/* login box animation */
#back_of_input{
    /* background-color:white; */
    /* border: 1px solid rgba(0, 0, 0, 0.219);  */
    background-color: rgb(245, 245, 245);
    box-shadow:inset 10px 10px 10px 1px #0d27500c, inset -10px -10px 10px 1px white, 28px 28px 50px 1px #0d275017, -23px -23px 40px white; 
    border-radius:4px;
    height:50px;
    width:220px;
    position: relative;
    /* top:50%;
    left:50%;
    transform: translate(-50%, -50%); */
    padding:2px;
    transition: 0.6s ease-in;
    transform-style: preserve-3d;
    z-index: 1;
}

/* #back_of_input. click is implemented using js.js {
    transform: translate(-50%, -50%) rotateY(180deg);
} */

.inputs{
    background-color: rgba(0, 0, 0, 0);
    transform-style: preserve-3d;
    border-color: rgba(0, 0, 0, 0);
    /* margin-top:10px; */
    border-radius: 3px;
    position:absolute;
    top:0;
    left:50%;
    padding:10px;
    width:200px;
    height:30px;
    font-size: 13px;
}
.inputs:focus{
    outline: none;
}

#view1{
    transform: translateZ(50px) translateX(-50%);
    z-index: 2
}
#view2{
    transform: translateZ(-50px) translateX(-50%) rotateY(180deg);
    z-index: 0;
}

/* login box animation ends here */

.click_button{
    cursor: pointer;
    position: relative;
    outline: none;
    width:220px;
    height:45px;
    margin-top:5px;
    background-color: rgb(245, 245, 245);
    box-shadow: 10px 10px 10px 1px #0d275017,-10px -10px 10px 1px white;
    border: 0px;
    border-radius: 4px;
    color:black;
    transition: visibility 0s, opacity 0.2s linear;
    /* transition:width 0.2s; */
}
.click_button:hover{
    box-shadow: 5px 5px 10px 1px #0d275017, -5px -5px 10px 1px white; 
}

