.img{
    /* 3:4 */
    background-image: url(works/logo.png);
    background-size: 120px 160px;
    position: relative;
    width:120px;
    height: 160px;
    top:50%;
    left:50%;
    transform: translate(-50%,-10%);
    display:flex;
    justify-content: center;
    align-items: center;
    perspective-origin: left;
    transition: .9s ease-in-out;
}

.image_div{
    position: relative;
}

.image_div .hands{
    position: absolute;
    z-index: 1;
    float: left;
    transition: 0.6s ease-in-out;
    transform-style: preserve-3d;
}

/* #lefthand{
    transform: translateZ(-50px) translateX(-50%) rotateY(-180deg);
    z-index: 0;
} */

.hands img{
    visibility: hidden;
    z-index: 3;
    position: relative;
    width:80px;
    height:130px;
    top: 50%;
    left: 50%;
    transform: translate(-68%,5%);
    transition: 0.6s ease-in;
}
.img::before{
    content:' ';
    position: absolute;
    top:86px;
    width: 50px;
    height: 5px;
    border: solid black 2px ;
    /* background-color: #b57700 ; */
    /* background-color: #030303 ; */
    border-bottom-left-radius: 50% ;
    border-bottom-right-radius: 50% ;
    transition: 0.5s;
}
.img:hover::before{
    content:' ';
    position: absolute;
    top:86px;
    width: 40px;
    height: 5px;
    border: solid black 2px ;
    background-color: #b57700 ;
    /* background-color: #030303 ; */
    border-radius: 3px;
    /* border-bottom-left-radius:0px ;
    border-bottom-right-radius:0px; */
    transition: 0.5s;
}

.eye{
    position: relative;
    top:-30px;
    display: flex;
    width:35px;
    height:35px;
    background: rgba(145, 141, 141, 0.289);
    margin: 0 7px;
    border-radius: 50%;
}
.ball{
    width: 5px;
    height: 5px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: 4px solid #333;
}
